<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">
        <img src="bart/assets/images/bart.gif" width="30" height="30" alt="">
      </a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/stations" routerLinkActive="active">Stations <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/schedule" routerLinkActive="active">Schedules</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
