<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <!-- <agm-marker 
                *ngFor="let m of mapArray; let i = index"
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat"
                [longitude]="m.long"
                [label]="m.label"
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
            </agm-marker> -->
            <agm-direction [origin]="origin" [destination]="destination" [travelMode]="travelMode"></agm-direction>
</agm-map>
